appdirs
asgiref
astroid
attrs
autopep8
backports.entry-points-selectable
coverage
distlib
dj-database-url
Django
django-debug-toolbar
et-xmlfile
factory_boy
filelock
gunicorn
iniconfig
isort
lazy-object-proxy
mccabe
mysqlclient
openpyxl
packaging
pip-review
pip-tools
platformdirs
pluggy
py
pycodestyle
pylint
pylint-django
pylint-plugin-utils
pymemcache
pyparsing
python-decouple
pytz
PyYAML
six
sqlparse
toml
tzdata
Unipath
uWSGI
virtualenv
wrapt